annotated-types
anyio
appdirs
black
certifi
click
colorama
dnspython
fastapi
flake8
h11
httpcore
idna
mccabe
motor
mypy-extensions
packaging
pathspec
platformdirs
pycodestyle
pydantic
pyflakes
pymongo
sniffio
starlette
typed-ast
typing-extensions
uvicorn